 <div class="wrapper">
  <div class="row">
      <div class="col-md-10 content blog">
        <h1>Ruby 007</h1>
        {{#each graduate in model}}
          <div class="card film art">
            {{#link-to 'graduate' graduate class="thumb"}}
              <img src="{{graduate.picture}}" alt="" title="" />
              <span class="overlay"><span class="fa fa-search"></span></span>
            {{/link-to}}
            <div class="card-body">
              {{#link-to 'graduate' graduate}}
                <h2>{{graduate.firstName}} {{graduate.lastName}}</h2>
              {{/link-to}}
              <p class="post-meta">{{graduate.cohort}}</p>
              <p>{{short-bio graduate.bio}}</p>
            </div><!-- end card-body -->
          </div><!-- end card -->
        {{/each}}
      </div><!-- end col -->
  </div><!-- end row -->
</div><!-- end wrapper -->



