 <div class="wrapper">
  <div class="row">
    <div class="my-wrapper">
      <div class="col-md-11 col-md-offset-1 content blog" style="margin-left: 52px">
      <div id="ruby-007" style="margin-left: 45px"><h1>Ruby 007</h1></div>
        
        {{#each graduate in model}}
          <div class="card film art">
            {{#link-to 'graduate' graduate class="thumb"}}
              <img src="{{graduate.picture}}" class="grad-image" alt="" title="" />
              <span class="overlay"><span class="fa fa-search"></span></span>
            {{/link-to}}
            <div class="card-body">
              {{#link-to 'graduate' graduate}}
                <h2 class="name">{{graduate.firstName}} {{graduate.lastName}}</h2>
              {{/link-to}}
              <p class="post-meta">{{graduate.cohort}}</p>
              <p>{{short-bio graduate.bio}}</p>
            
            </div><!-- end card-body -->
            <div class="card-footer">
              {{#link-to 'graduate' graduate}}
              Read More
              {{/link-to}}
            </div> 
          </div><!-- end card -->
        {{/each}}
      </div><!-- end col -->
    </div>
  </div><!-- end row -->
</div><!-- end wrapper -->



